.collapse {
    background-color: #ff6060;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 25%;
}

.accoStyle {
    border-radius: 5px;
    margin-bottom: 20px;
    width: 45%; 
    height: 25%;
}

.collapse_h2_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 47px;
}

h2 {
    color: white;
    font-size: 24px;
}

img {
    height: 15px;
}

.collapse_ouvert, .collapse_fermer, .collapse_description_ouvert, .collapse_description_fermer {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.collapse_ouvert {
    transform: rotate(0deg);
}

.collapse_fermer {
    transform: rotate(180deg);
}

.collapse_description_ouvert {
    background-color: #F7F7F7;
    color: #ff6060;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* height: 75%; */
    /* margin-top: -10px; */
    /* min-height: 100px; */
    padding: 20px 10px ;
    /* visibility: visible; */
}

.collapse_description_fermer {
    /* visibility: hidden; */
    opacity: 0;
    height: 0;
    translate: 0px -20px;
}

.collapse_texte {
    color: #ff6060;
    font-size: 18px;
    margin: 0px;
}

@media screen and (max-width: 700px) { 
    .collapse_description {
        padding-bottom: 25px;
    } 
    
    .accoStyle {
        background-color: #ff6060;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%; 
    }
}